*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  background-image: url(./image.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.App button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}
.App p{
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}